body,
h1 {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}
.background {
  display: flex;
  margin: 0;
  padding: 0px 16px;
  background-color: #030415;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.background h1 {
  color: #ffffff;
}

.card_title_content {
  display: flex;
  padding: 24px 24px 48px;

  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card_question {
  display: flex;
  margin: 24px 0px 16px 0px;
  padding: 0px 4px 0px 0px;
  font-size: 20px;
  justify-content: center;
  color: #ffffff;
}
