body,
h1 {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}
.background {
  background-color: #040411;
}
.background h1 {
  color: #ffffff;
}
.container {
  margin: 0;
  /* display: flex;
  flex-wrap: wrap; */
}
.card_chart {
  /* display: flex;
  flex-direction: column; */
  /* min-width: 432px;
  max-width: 886px; */
  margin: 0;
  padding: 0px 12px 24px;

  /* background-color: #0f0e1e;
  color: #0f0e1e; */
}
.card_title_content {
  /* display: inline; */
  padding: 24px 24px 48px;
  justify-content: center;
}
.card_question {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 24px 0px 16px 0px;
  padding: 0px 4px 0px 0px;
  font-size: 20px;
}
/* .card_content {
  padding: 24px 40px 24px 0px;
} */
