body,
h1 {
  margin: 0;
  padding: 0;
}
.background {
  background-color: #040411;
}
.background h1 {
  color: #ffffff;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.card_chart {
  display: flex;
  flex-direction: column;
  min-width: 432px;
  max-width: 886px;
  margin: 0;
  padding: 0px;
  /* background-color: #0f0e1e;
  color: #0f0e1e; */
}
.card_question {
  color: #ffffff;
  margin: 24px 0px 16px 0px;
  padding: 0px 4px 0px 0px;
  font-size: 20px;
}
/* .card_content {
  padding: 24px 40px 24px 0px;
} */
